 body {
    background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
 }

 h1 {
    color: beige;
    width: 300px;
    margin: auto;
 }

 li {
    color: aqua;
    list-style-type: none;
 }

 a {
    color: whitesmoke;
 }

 .game {
    height: 300px;
    width: 200px;
    margin: 5px;
    border-radius: 14px;
    transform: skewX(-10deg);
}

 .games {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
 }

 .game:hover {
     transform: scale(1.2) skewX(-10deg);
     transition: 0.5s;
     margin: 20px;
     margin-top: 30px;
}


.info-games {
   display: flex;
   height: 600px;
   background-color: rgb(37, 37, 37);
   border-radius: 50px;
   visibility: hidden;
   box-shadow: 0 0 50px rgb(54, 54, 54);
}

.button {
   display: flex;
   position: absolute;
   margin-left: 55%;
   margin-top: 20%;
   padding: 20px 100px;
   font-family: "Comic Sans MS", cursive, sans-serif;
   font-size: 25px;
   border: none;
   background-color: greenyellow;
   color: white;
   border-radius: 5px;
}

.button:hover {
   transform: scaleX(1.1) scaleY(1.1);
   background-color: rgb(68, 100, 21); 
}
